a {
    text-decoration: none;
    color:#000000;
}

#idx_container {
    border: 0px solid #eeeeee;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-family:"Courier New", Courier, monospace;
}

#idx_header {
    border: 1px solid #eaeaea;
    text-align: center;
    font-size:20px;
    font-weight:bold;
}

#idx_text {
    border: 1px solid #eaeaea;
    text-align: center;
}

#idx_tail {
    border: 1px solid #eaeaea;
    text-align: center;
}

#idx_thumbs {
    border: 1px solid #eaeaea;
    text-align: center;
}