body {
    margin: 0px;
    padding: 0px;
    font-family:"Courier New", Courier, monospace;
}

a {
    text-decoration: none;
}

.mandalala_container {
    border: 0px solid red;
    width: 650px;
    height: 650px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    float: none;
}

#header {
    border: 0px solid blue;
    width: 650px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    text-align: center;
    font-size:30px;
    font-weight:normal;
    float: none;
}

#footer {
    border: 0px solid blue;
    width: 650px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    text-align: center;
    font-size:15px;
    font-weight:normal;
    float: none;
}

#footer_left {width:50%;left:0px;border:0px solid red;overflow:hidden;float:left;text-align:left}
#footer_right {width:48%;border:0px solid red;overflow:hidden;text-align:right}

#svg{ 
    /* float: left;  */
    border:0px solid red; 
    float: left;
    overflow:hidden;
    position: absolute;
    right: 0;

}

.text_container{
    width: 640px;
    height: 640px;
    border: 0px solid #ff0000;
    position: absolute;
    /* display:block; */
    top:0px;
    /* right: 0; */
    left: 0;
    margin: auto;


}

#texted{
    background: rgba(255, 255, 255, 0);
    width: 640px;
    height: 640px;
    padding: 0px;
    resize: none;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,0,0,1);
    overflow: hidden;
    resize: none;
}

.controler{
    background: #f7f7f7;
    opacity: 0.7;
    width: 640px;
    height: 200px;
    border: 1px solid #efefef;
    position: absolute;
    /* display:block; */
    top:440px;
    /* right: 0; */
    left: 0;
    margin: auto;


}

.controler2{
    background: #f7f7f7;
    opacity: 0.7;
    width: 640px;
    height: 170px;
    border: 1px solid #efefef;
    position: absolute;
    /* display:block; */
    top:0px;
    /* right: 0; */
    left: 0;
    margin: auto;


}

.toggle {
    font-size: 14px;
    width: 30px;
}

#more_lab {
    position:absolute;
    top: 5px;
    right: 5px;
}

#download {
    position: absolute;
    top: 60px;
    right: 5px;
    width: 30px;
}


#burst {
    position:absolute;
    top: 113px;
    right: 5px;
    width: 32px;
}

#format_lab {
    position:absolute;
    top: 40px;
    right: 5px;
}

#eq_labels{
    background: #efefef;
    opacity: 0.5;
    width: 640px;
    height: 20px;
    border: 0px solid blue;
    position: absolute;
    top:150px;
}
.eq_lab{
    font-family:"Lucida Console", Monaco, monospace;
	
    font-size: 12px;
    background: #efefef;
    border: 0px solid blue;
    position: absolute;
    top: 130px;
    height: 20px;
    width: 20px;
    margin-left: -27px;
}

.eq_val{
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 12px;
    background: #efefef;
    border: 0px solid blue;
    position: absolute;
    top: 150px;
    height: 20px;
    width: 20px;
    margin-left: -27px;
}


.eq_val2{
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 12px;
    background: #efefef;
    border: 0px solid blue;
    position: absolute;
    top: 150px;
    height: 20px;
    width: 20px;
    margin-left: -35px;
}


.ui-widget {
    font-family:"Lucida Console", Monaco, monospace;
    //    font-size: 1em;
    font-size: 14px;
}


/* #download:visited {text-decoration: none;} */

.ui-button { 
    border: 1px solid #000000;
    border-radius:0px;
}

.ui-button-text-only .ui-button-text {
//    padding: 2px;
    padding: 0px;
}


#myCanvas{
    border:1px solid black;
    background:#efefef;

    position: absolute;
    /* right: 0; */
    left: 0;
    margin: auto;

}

#eq {
    border: 0px solid #000000;

    /* width: 350px; */
    /* position: absolute; */
    /* top: 490px; */
    /* opacity: 0.5; */

    /* right: 0; */
    /* left: 0; */
    /* margin: auto; */
    
}

/* #eq > span {height:120px; float:left; margin:10px; margin-top:15px;} */

.slide {height:120px; float:left; margin:20px; margin-top:5px;}


.ui-widget-content { background: purple; }

/* .ui-widget-content .ui-state-default { background: chartreuse; } */

.ui-slider {
	position: relative;
	text-align: left;
	border-radius:0px;
	background:#ffffff;
	/* border: 1px solid black; */
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;

	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	/* border: 1px solid black; */
	background-position: 0 0;
	background: #ffffff;
	border-radius:0px;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;

}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;

}
.ui-slider-vertical .ui-slider-handle {
	left: -.25em;
	margin-left: 0;
	margin-bottom: -.6em;
	border-radius:0px;
	border: 1px solid black;
	background:#ffffff;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}